.Gallery {
  width: 350px;
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gridList {
  width: 100%;
}

img.gridListImg {
  width: 350px;
  position: relative;
  right: 16px;
}

/* .list-item-highlight {
  background-color: #f8f8f8;
} */

.GridListTileBar {
  text-align: left;
  z-index: 2;
}

.tile-subtitle {
  font-size: 1.1rem;
  white-space: normal;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.tile-info {
  /* visibility: hidden; */
}

.tile-title {
  font-size: 1.3em;
  font-family: "Playfair Display", serif;
  line-height: 1.2em;
  margin: 0;
}

.tile-details {
  margin: 8px 0;
  letter-spacing: 0.01em;
  line-height: 1.2em;
}

.tile-credit {
  font-size: 0.8em;
  font-style: oblique;
  line-height: normal;
  margin: 13px 0 0 0;
}

.tile-icons {
  display: flex;
  justify-content: space-between;
}
