.Gallery {
  width: 100%;
  overflow: scroll;
  /* currently disables scroll; try in future:
  scroll-behavior: smooth; */
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around;
}
/* 
.searchClosed {
  height: calc(100vh - 223px);
}

.searchOpen {
  height: calc(100vh - 337px);
} */

img.gridListImg {
  z-index: 0;
}

.gridListTile {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 10px;
}

.gridListTile-full {
  justify-content: space-between;
  position: absolute;
  top: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  white-space: normal;
  text-align: left;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0.02em;
  font-family: "Nunito", sans-serif;
}

/* currently not used */
.gridListTile-mini {
  background: rgba(0, 0, 0, 0.2);
  height: 20%;
  bottom: 0;
  justify-content: flex-end;
}

.gridListTile-info-only {
  background: none;
  bottom: 0;
  justify-content: flex-end;
}

svg.MuiSvgIcon-root {
  /* font-size: 1.3em; */
}

/* padding on inline style */
button.infoAllBtn {
  color: #3f51b5;
}

button.infoAllBtn:hover {
  color: #303f9f;
}

svg.infoIcon {
  font-size: 1.3em;
}

/* .tile-info, favorite & link icons when details hidden (.gridListTile-info-only active) */
.hidden {
  visibility: hidden;
}

.tile-title {
  font-size: 1.1rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.2em;
  margin: 0;
}

.tile-details {
  margin: 8px 0;
  line-height: 1.2em;
}

p.tile-details:nth-child(3) {
  font-size: 0.9rem;
}

p.tile-details:last-child {
  letter-spacing: 0.07em;
  font-weight: 400;
}

.tile-icons {
  display: flex;
  justify-content: space-between;
}

button.MuiButtonBase-root.MuiIconButton-root {
  padding: 0;
}
