.GalleryPanel {
  display: flex;
  width: 100%;
}

.toggle-all-details {
  cursor: pointer;
  font-size: 0.8rem;
  transition: color 1s ease;
}

.toggle-all-details:hover {
  color: #000000;
}

svg.show-all-icon {
  font-size: 1.3em;
}

.noresults-msg-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  /* margin-top: 5px;
  font-size: 0.8rem; */
}

.noresults-sugg {
  margin-top: 0;
  text-transform: none;
  font-style: oblique;
}

.input-footer {
  padding: 16px 0;
  letter-spacing: 0.02em;
}
