.GalleryPanel {
  display: flex;
  width: 100%;
}

.tall-grid {
  height: 55vh;
}

.short-grid {
  height: 25vh;
  display: flex;
}

.hidden {
  visibility: hidden;
}

.toggle-all-details {
  cursor: pointer;
  font-size: 0.8rem;
  transition: color 1s ease;
}

.toggle-all-details:hover {
  color: #000000;
}

.noresults-msg-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  text-transform: uppercase;
  /* margin-top: 5px;
  font-size: 0.8rem; */
}

.noresults-sugg {
  text-transform: none;
}

/* .noresults-msg:last-child {
  text-transform: none;
} */

.input-footer {
  padding: 16px 0;
  letter-spacing: 0.02em;
}
