.panel {
  width: 350px;
  letter-spacing: 0.02em;
  z-index: 2;
  position: absolute;
  top: 85px;
  /* align with right nav item */
  right: 35px;
  font-family: "Nunito", sans-serif;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.hidden {
  visibility: hidden;
}

@media only screen and (max-width: 500px) {
  .panel {
    right: calc(50vw - 175px);
  }
}

@media only screen and (max-width: 350px) {
  .panel {
    width: 100%;
    right: calc(50vw - 50%);
  }
}
