/* header.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionStatic.MuiAppBar-colorPrimary.MuiPaper-elevation4 { */
.header-style {
  background-color: white;
  color: #666666;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.logo-wrapper {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 200px;
}

nav {
  position: relative;
  right: 30px;
}

nav .MuiButtonBase-root.MuiButton-root.MuiButton-text {
  margin: 10px;
}

/* nav label highlighted when its panel is open */
.MuiButtonBase-root.MuiButton-root.MuiButton-text.open {
  background-color: rgba(0, 0, 0, 0.09);
}

@media only screen and (max-width: 500px) {
  .logo-wrapper {
    left: 15px;
  }
  .logo-wrapper > img {
    width: 150px;
  }
  nav {
    right: 10px;
  }
  nav .MuiButton-label {
    font-size: 0.9rem;
  }
  nav .MuiButtonBase-root.MuiButton-root.MuiButton-text {
    margin: 3px;
  }
}

@media only screen and (max-width: 350px) {
  .logo-wrapper > img {
    width: 120px;
  }
  nav .MuiButton-label {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 300px) {
  nav .MuiButton-label {
    font-size: 0.7rem;
  }
  nav .MuiButtonBase-root.MuiButton-root.MuiButton-text {
    margin: 1px;
  }
}
