.SearchPanel {
  width: 350px;
  z-index: 999;
  position: absolute;
  top: 0;
  right: 45px;
  font-family: "Nunito", sans-serif;
  border-radius: 0 0 10px 10px;
  padding: 20px 25px 10px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
}

.logo-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo-text {
  font-family: "Bebas Neue", cursive;
  color: #b50938;
  font-size: 4rem;
  letter-spacing: 0.02em;
  text-align: left;
}

.gray-text {
  color: #b0b0b0;
}

.input-form {
  padding: 22px 0 16px;
}

.form-info {
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.form-info,
.input-fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* year input labels */
label.MuiFormLabel-root {
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #666666;
  font-size: 1.05rem;
  font-family: "Nunito", sans-serif;
}

/* no arrows in input boxes */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.left-input {
  margin-right: 10px;
}

.right-input {
  margin-left: 10px;
}

.class-option-wrapper {
  text-align: left;
}

/* same as "get started" in intro, but letter-spacing matches year input labels */
.media-header {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.03em;
  margin: 30px 0 7px;
}

.class-option {
  /* border: 1px solid red; */
  width: 60%;
}
.class-option:nth-child(even) {
  width: 40%;
}

/* checkbox */
svg.MuiSvgIcon-root {
  font-size: 1.3rem;
}

/* padding bw option rows */
.MuiButtonBase-root.MuiIconButton-root.PrivateSwitchBase-root-1.MuiCheckbox-root {
  padding: 5px;
}

/* checkbox labels */
.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
  font-size: 0.9rem;
  letter-spacing: 0.02em;
  font-family: "Nunito", sans-serif;
}

.submit-button {
  display: flex;
  justify-content: flex-end;
  margin: 0 10px;
}
